:root {
	--clr-orange: #ee6352;
	--clr-black: #24252a;
	--clr-gray: #ddd;
	--input-border: #d3d3d3;
	--clr-offwhtie: #f8f8ff;
	--form-body: #eee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--clr-gray);
}

header {
	display: flex;
	align-items: center;
	background-color: var(--clr-black);
	color: var(--clr-orange);
	padding: 30px;
}

i.fa-file-alt {
	font-size: 2.5rem;
	margin-right: 20px;
}

/* form styling */
main {
	display: flex;
	justify-content: center;
	padding: 4rem 0px;
	position: relative;
}

.flip-container {
	width: 90%;
	max-width: 850px;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	transform: rotateY(180deg);
}

.flip-container:hover {
}

.cv-form {
	padding: 0px 30px 20px;
	background-color: var(--form-body);
	-webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.3);
	color: var(--clr-black);
	overflow: hidden;
}

.cv-form h2 {
	text-decoration: underline;
	margin: 30px 0px;
}

.front {
	position: absolute;
	backface-visibility: hidden;
	width: 100%;
}

.back {
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.double-field {
	display: flex;
	gap: 20px;
}

.field {
	flex: 1;
	margin-bottom: 10px;
}

.field label {
	display: block;
}

.text-input {
	width: 100%;
	border-radius: 5px;
	border: solid 1.5px var(--input-border);
	outline: none;
	padding: 8px 10px;
	margin-top: 5px;
	font-family: 'Poppins', sans-serif;
	transition: box-shadow 0.3s;
}

.text-input:hover,
.text-input:focus {
	box-shadow: 0px 0px 5px 2px var(--input-border);
}

textarea {
	padding: 5px 10px;
	border: solid 1.5px var(--input-border);
	outline: none;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	margin-top: 5px;
	resize: none;
	width: 100%;
}

textarea:hover,
textarea:focus {
	box-shadow: 0px 0px 5px 2px var(--input-border);
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.btn {
	width: 90%;
	max-width: 80px;
	height: 35px;
	outline: none;
	border: 1px solid rgba(32, 33, 36, 0.28);
	border-radius: 5px;
	font-family: inherit;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0 1px 3px rgba(32, 33, 36, 0.28);
}

.add-btn {
	background-color: var(--clr-orange);
	color: #f8f8ff;
}
